@{ 
  string nomeUsuario = User.FindFirst("name")?.Value;
  var claims = User.Claims.ToList();

}

@if (!string.IsNullOrEmpty(nomeUsuario))
{
  <div>Ola, @nomeUsuario<a>sair</a></div>
}
else
{
  <div>Nenhum usuario concectado<a>entrar</a></div>
}